footer {
  
    width: 100%;
    height: 170px;
    background: #464547;
  }
  
  footer > .sec-last {
    padding-top: 35px;

    display: grid;
	 grid-template-columns: 2fr 3fr 2fr;
  /* grid-template-columns: repeat(7, 1fr); */
    padding-left: 145px;
  }

  /* .footer-logo{
    grid-column: 1/2;
  }
  address{
    grid-column: 2/5;
  }
  .copy{
    grid-column: 5/7;
  } */
  footer > .sec-last > span > span {
    margin-left: 6px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }

  footer > .sec-last > address,
  footer > .sec-last > p {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }
 

  footer > .sec-last > .copy{
    align-self: self-end;
  }
  